.example__title {
  font-family: $secondary-font;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
}

.example__result-name {
  font-size: 14px;
  line-height: 14px;
}

.example__result-value {
  font-family: $secondary-font;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}

.example__result--price {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
