.invitation__title {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.invitation__address {
  font-size: 14;
  line-height: 20px;
  text-transform: uppercase;
}
