.page-catalog__body {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.page-catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
